.background {
  position: relative;
  z-index: 0;
  width: 100vw;
  width: 100%;
  height: 50vh;
  color: white;
  background: -webkit-linear-gradient(225deg, #ee94de, #9e1258) fixed;
  background: -o-linear-gradient(225deg, #ee94de, #9e1258) fixed;
  background: linear-gradient(-135deg, #ee94de, #9e1258) fixed;
}

.background span.title {
  font-size: 50px;
  position: absolute;
  top: 47%;
  left: 55%;
  width: 80vw;
  padding-right: 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.background span.content {
  font-size: 18px;
  position: absolute;
  top: 60%;
  left: 54%;
  width: 80vw;
  padding-right: 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}