@charset 'UTF-8';

.background {
  position: relative;
  z-index: 0;
  width: 100vw;
  width: 100%;
  height: 50vh;
  color: white;
  background: -webkit-linear-gradient(225deg, #d88080, #a10000) fixed;
  background: -o-linear-gradient(225deg, #d88080, #a10000) fixed;
  background: linear-gradient(-135deg, #d88080, #a10000) fixed;
}

.background span.title {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  padding-right: 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 3px;
}

.background span.content {
  font-size: 18px;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 80vw;
  padding-right: 40px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

article.members span.title {
  font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3',    'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  font-size: 3em;
  display: block;
  padding-top: 2em;
  padding-left: .7em;
  color: white;
  background-color: #000f11;
}

article.members .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

article.members .members .member {
  width: 100%;
}

article.members .members .member img.memberimg {
  width: 100%;
}

article.members .members .member span {
  font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3',    'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
  width: 100%;
  margin-top: 35%;
}

article.members .members .member span.name {
  font-size: 120%;
  position: absolute;
  width: 15%;
  margin-left: 1.5em;
  padding-right: 3.5em;
  letter-spacing: 3px;
  color: white;
}

article.members .members .member span.name span.cap {
  font-size: 300%;
  letter-spacing: 3px;
}

article.members .members .member span.name span.subtitle {
  font-size: .5em;
  display: inline-block;
  margin-top: -1.2em;
  margin-left: 1em;
  color: #b3b3b3;
}

article.members .moreinfo {
  width: 100vw;
  height: 5em;
  background-color: #000f11;
}