section.contact {
  margin-top: 10em;
  margin-right: 10%;
  margin-bottom: 3em;
  margin-left: 10%;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
  background-color: white;
}

section.contact span.title {
  font-size: 2em;
}

section.contact span.subtitle {
  font-size: .7em;
  display: block;
  color: #8f8f8f;
}

section.contact img.QR {
  width: 10vw;
  height: auto;
  margin-top: 3em;
  border: 2px solid #636363;
}

section.contact .contacts {
  margin-top: 1em;
  text-align: center;
}

section.contact .contacts i {
  font-size: 5vw;
  display: inline;
  margin-right: .5em;
  margin-left: .5em;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: center;
}

section.contact .contacts i.fa-twitter-square {
  color: #09f;
}

section.contact .contacts i.fa-twitter-square:hover {
  color: #06a;
}

section.contact .contacts i.fa-facebook-square {
  color: #04f;
}

section.contact .contacts i.fa-facebook-square:hover {
  color: #003f69;
}